Perenthia.Web.Mvc/Service References/Services.Security/Lionsguard.Security.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lionsguard.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lionsguard.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Gamer">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gamer" nillable="true" type="tns:Gamer" />
</xs:schema>